# How to use dates & times with pandas

In [52]:
#import
import pandas as pd 
from datetime import datetime #
import numpy as np

## Basic building block: pd.Timestamp

In [53]:
time_stamp = pd.Timestamp(datetime(2017,1,1))
time_stamp

Timestamp('2017-01-01 00:00:00')

In [54]:
pd.Timestamp('2017-01-01')== time_stamp

True

Timestamp object has many aributes to store time-specic
information

In [55]:
time_stamp.year

2017

In [56]:
time_stamp.month

1

In [57]:
time_stamp.day_name()

'Sunday'

In [58]:
#ex
time_stamp2=pd.Timestamp('2023-02-17')
time_stamp2

Timestamp('2023-02-17 00:00:00')

In [59]:
time_stamp2.year

2023

In [60]:
time_stamp2.day_name()

'Friday'

In [61]:
time_stamp2.day_of_year

48

### More building blocks: pd.Period & freq

In [62]:
period = pd.Period('2017-01')
period

Period('2017-01', 'M')

In [63]:
period.asfreq('D') # convert to daily

Period('2017-01-31', 'D')

In [64]:
period.to_timestamp().to_period('M')

Period('2017-01', 'M')

In [65]:
period+10

Period('2017-11', 'M')

In [66]:
pd.Timestamp('2017-01-31','M')

C:\Users\DELL\AppData\Local\Temp\ipykernel_11176\4253452756.py:1: FutureWarning: The 'freq' argument in Timestamp is deprecated and will be removed in a future version.
  pd.Timestamp('2017-01-31','M')

Timestamp('2017-01-31 00:00:00', freq='M')

### Sequences of dates & times

In [67]:
index = pd.date_range(start='2017-1-1', periods=12, freq='M')
index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [68]:
##

In [69]:
#ex
index2=pd.date_range(start='2020-1-1',periods=12, freq='M')
index2

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [70]:
#ex
index3=pd.date_range(start='2020-1-1',periods=6, freq='M')
index3

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30'],
              dtype='datetime64[ns]', freq='M')

In [71]:
##

In [72]:
index[0]

Timestamp('2017-01-31 00:00:00', freq='M')

In [73]:
index.to_period()

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12'],
            dtype='period[M]')

### Create a time series: pd.DateTimeIndex

In [74]:
pd.DataFrame( {"date":index}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 224.0 bytes

In [78]:
data = np.random.random(size=(12,2))
data

array([[0.39505227, 0.10666549],
       [0.46907312, 0.73337179],
       [0.29700848, 0.92425493],
       [0.78827217, 0.31932287],
       [0.34199026, 0.97795435],
       [0.81738788, 0.37870742],
       [0.55773794, 0.98818306],
       [0.48343362, 0.80886979],
       [0.66457512, 0.7239567 ],
       [0.76449878, 0.17838551],
       [0.91245992, 0.32726142],
       [0.37220524, 0.20649652]])

In [81]:
pd.DataFrame(data = data , index=index)

                   0         1
2017-01-31  0.395052  0.106665
2017-02-28  0.469073  0.733372
2017-03-31  0.297008  0.924255
2017-04-30  0.788272  0.319323
2017-05-31  0.341990  0.977954
2017-06-30  0.817388  0.378707
2017-07-31  0.557738  0.988183
2017-08-31  0.483434  0.808870
2017-09-30  0.664575  0.723957
2017-10-31  0.764499  0.178386
2017-11-30  0.912460  0.327261
2017-12-31  0.372205  0.206497

## Exercise

### Your first time series

In [84]:
# Create the range of dates here
seven_days = pd.date_range(start='2017-1-1' ,periods=7 )

# Iterate over the dates and print the number and name of the weekday
for day in seven_days:
    print(day.dayofweek, day.day_name())

6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday
5 Saturday