# Lags, changes, and returns for stock price series

In [1]:
#import
import pandas as pd 
from datetime import datetime #
import numpy as np
import matplotlib.pyplot as plt

### Getting GOOG stock prices

In [12]:
google = pd.read_csv('goog_fb_2.csv' , parse_dates=['date'] , index_col='date')
google

                FB   price
date
2015-01-02   78.45  524.81
2015-01-05   77.19  513.87
2015-01-06   76.15  501.96
2015-01-07   76.15  501.10
2015-01-08   78.18  502.68
...            ...     ...
2016-12-23  117.27  789.91
2016-12-27  118.01  791.55
2016-12-28  116.92  785.05
2016-12-29  116.35  782.79
2016-12-30  115.05  771.82

[504 rows x 2 columns]

In [13]:
google.drop(columns=['FB'], inplace=True)

In [14]:
google

             price
date
2015-01-02  524.81
2015-01-05  513.87
2015-01-06  501.96
2015-01-07  501.10
2015-01-08  502.68
...            ...
2016-12-23  789.91
2016-12-27  791.55
2016-12-28  785.05
2016-12-29  782.79
2016-12-30  771.82

[504 rows x 1 columns]

### shift(): Moving data between past & future

In [18]:
google['shifted'] = google.price.shift() # default: periods=1
google.head(3)

             price  shifted
date
2015-01-02  524.81      NaN
2015-01-05  513.87   524.81
2015-01-06  501.96   513.87

In [19]:
google['lagged'] = google.price.shift(periods=-1)
google[['price','lagged','shifted']].tail(3)

             price  lagged  shifted
date
2016-12-28  785.05  782.79   791.55
2016-12-29  782.79  771.82   785.05
2016-12-30  771.82     NaN   782.79

### Calculate one-period percent change

In [20]:
google['change'] = google.price.div(google.shifted)
google[['price','shifted','change']].head(3)

             price  shifted    change
date
2015-01-02  524.81      NaN       NaN
2015-01-05  513.87   524.81  0.979154
2015-01-06  501.96   513.87  0.976823

## Exercise

In [ ]:
# Import data here
google = pd.read_csv('google.csv', parse_dates=['Date'], index_col='Date')

# Set data frequency to business daily
google = google.asfreq('B')

# Create 'lagged' and 'shifted'
google['lagged'] = google.Close.shift(periods=-90)
google['shifted'] = google.Close.shift(periods=90)

# Plot the google price series
google.plot()
plt.show()

### Calculating stock price changes

In [ ]:
# Created shifted_30 here
yahoo['shifted_30'] = yahoo.price.shift(30)

# Subtract shifted_30 from price
yahoo['change_30'] = yahoo.price.sub(yahoo.shifted_30)

# Get the 30-day price difference
yahoo['diff_30'] = yahoo.price.diff(30)

# Inspect the last five rows of price
print(yahoo.tail())

# Show the value_counts of the difference between change_30 and diff_30
print(yahoo.change_30.sub(yahoo.diff_30).value_counts())